/*  			
  FF6600  CC6633	993300	FF6633	FF9966
  
  even lighter; FFbb88*/

body {
	margin: 0;
	overflow: hidden;
}

body,
input {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
}


nav {
	background-color: #444;
	-moz-box-sizing: border-box;
	border-right: 1pt solid #999;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 260px;
}

nav > h1 {
	background-color: #777;
	border-bottom: 1pt solid black;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #ccc;
	font-family: 'Offside', cursive;
	font-size: 200%;
	font-weight: normal;
	text-align: center;
	text-shadow: 2px 2px 0 #999;
	padding: 0;
	line-height: 60px;
	margin: 0;
	height: 60px;
}

nav > .opts {
	text-align: center;
	border-bottom: 1pt dotted #ccc;
}

nav > .opts > div {
	display: inline-block;
	color: #888;
	cursor: pointer;
	font-family: 'Joti One', cursive;
	font-size: 200%;
	margin: 0;
	padding: 0;
	width: 60px;
	text-align: center;
	text-shadow: 2px 2px 0 #444;
}

nav > .opts > div:hover {
	background-color: #666;
}

nav > ul {
	margin: 8px 0 0;
	padding: 0;
}

nav > ul > li {
	color: #ddd;
	cursor: pointer;
	font-size: 90%;
	list-style-type: none;
	margin: 0;
	padding: 4px 8px 8px 24px;
}

nav > ul > li.selected {
	background-color: #ddd;
	color: black;
}

nav > ul > li.folder:before {
	border: 5px solid transparent;
	border-left-color: #888;
	content: ' ';
	width: 0;
	height: 0;
	position: absolute;
	margin: 7px 0 0 -16px;
}

nav > ul > li:hover {
	background-color: #888;
}

.editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 260px;
}

.editor > .title {
	background-color: #888;
	border-bottom: 1pt solid black;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	font-size: 200%;
	height: 60px;
	padding: 0 16px;
}

.editor > .title > input {
	background: none;
	border: none;
	color: #ccc;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 120%;
	width: 100%;
	height: 60px;
}

.editor.selected > .title {
	display: block;
}

.editor:not(.selected) > .title:after {
	content: 'Select or create a note and start editing!';
	color: #888;
	display: block;
}

.editor > #aceeditor {
	display: none;
	font-size: 110%;
	height: 100%;
}

.editor.selected > #aceeditor {
	display: block;
}